.navbar-right-content .inner-addon {
    position: relative;
}

.navbar-right-content .inner-addon .search_glyph_button {
    right: 0;
}

.header-search_suggestions,
.header-search_result {
    background-color: #FFF;
    z-index: 999;
    padding: 10px;
    margin-top: 1px;
    border-radius: 0;
    position: absolute;
    width: 100%;
    display: none;
}

div#searchSuggestion li a,
div#searchSuggestionResult li a {
    padding: 5px 0;
    display: block;
}

div#searchSuggestion li a strong.header-search__suggestion-menu-highlighted,
div#searchSuggestionResult li a strong.header-search__suggestion-menu-highlighted {
    color: #f4934d;
}

.inner-addon .separator {
    border-color: #d6d4d5;
    margin: 10px 0;
}

#searchPopularProduct .header-search_suggestion-menu-list {
    margin-top: 10px;
}

#searchPopularProduct li {
    display: block;
}

#searchPopularProduct li .header-search_suggestion-menu-cell {
    display: inline-block;
    vertical-align: top;
}

#searchPopularProduct li .header-search_suggestion-menu-cell-img {
    width: 50px;
}

#searchPopularProduct li .header-search_suggestion-menu-cell-img img {
    width: 100%;
}

#searchPopularProduct li span.header-search_suggestion-menu-cell:last-child {
    width: 80%;
    margin-left: 5px;
}

span.header-search__suggestion-menu-price {
    display: block;
    color: #fc9641;
}

.sidebar-filter .filter-container {
    width: 300px;
    background-color: #f4f4f4;
    position: fixed;
    top: 14%;
    bottom: 0;
    left: -300px;
    z-index: 9999;
    overflow: scroll;
    height: 550px;
}

.sidebar-filter.open .filter-container {
    left: 0;
}

.sidebar-filter .filter {
    padding: 20px 30px;
}

.sidebar-filter h4 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 16px;
}

.sidebar-filter ul {
    padding: 0;
    margin: 0;
}

.sidebar-filter h4,
.sidebar-filter a,
.sidebar-filter label {
    color: #b6b6b6;
    font-weight: normal;
    font-family: 'Sofia-Pro-Regular', Arial;
}

.search-results-wrapper {
    position: relative;
}

.filter-companies .input-group {
    margin-bottom: 20px;
    border-radius: 20px;
    border: solid 1px #f4f4f4;
    overflow: hidden;
    font-family: 'Sofia-Pro-Regular', Arial;
}

.filter-companies .input-group .input-group-addon:first-child {
    background-color: #FFF;
    border: none;
}

.filter-companies .input-group .input-group-addon:last-child {
    background-color: #f5944e;
    border-color: #f5944e;
    color: #FFF;
}

.filter-companies .input-group #searchCompany {
    border: none;
}

.sidebar-filter .filter ul li ul {
    margin-left: 20px;
}

.range-input-group {
    margin-top: 15px;
}

.sldr__input-min {
    display: inline-block;
    width: calc(50% - 25px);
    vertical-align: middle;
}

.sldr__input-divider {
    display: inline-block;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    color: #929292;
}

.sldr__input-max {
    display: inline-block;
    width: calc(50% - 4px);
    vertical-align: middle;
}

#submitFilterPriceRange {
    cursor: pointer;
}

.filter-badge {
    position: absolute;
    margin-top: 80%;
    right: 0;
}

.sidebar-filter .badge-filter {
    position: fixed;
    background-color: #F5944F;
    width: 48px;
    font-weight: bold;
    border-radius: 0 10px 10px 0;
    left: 0;
    top: 30%;
    margin-top: 5%;
    z-index: 9999;
}

@media screen and (max-width: 1024px) {
    .sidebar-filter .badge-filter {
        margin-top: 8%;
    }
}

@media screen and (max-width: 768px) {
    .sidebar-filter .badge-filter {
        margin-top: 11%;
    }
}

.filter.filter-companies ul {
    max-height: 300px;
    overflow: scroll;
}

.sidebar-filter.open .badge-filter {
    left: 300px;
}

.filter-badge .badge-filter a {
    color: #FFF;
    padding: 10px;
    text-align: center;
    width: 100%;
    display: block;
    text-transform: uppercase;
}

div#cart-right-display {
    position: relative;
}

.page-wrapper {
    position: relative;
}